* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-background-color: #cfd4df;
  --header-background-color: #556ab8;
  --nav-links-color: #ede8f5;
  --banner-background-color: #9fadd3;
  --font-color: #0a1544;
}

html[data-theme="light"] {
  --body-background-color: #cfd4df;
  --header-background-color: #556ab8;
  --nav-links-color: #ede8f5;
  --banner-background-color: #9fadd3;
  --font-color: #0a1544;
}

html[data-theme="dark"] {
  --body-background-color: #2d2e30;
  --header-background-color: #000000;
  --nav-links-color: #e11d48;
  --banner-background-color: #78757554;
  --font-color: #ffffff;
}

body {
  font-family: "Poppins", serif;
  background-color: var(--body-background-color);
  color: var(--font-color);
}

header {
  background-color: var(--header-background-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.313rem;
}

.logo-container {
  margin-left: 1.25rem;
}

.nav-links ul {
  list-style: none;
  display: flex;
}

.nav-links ul li {
  padding: 1.25rem;
}

.nav-links ul li a {
  text-decoration: none;
  color: var(--nav-links-color);
  padding: 0.625rem 0.938rem;
  border-radius: 0.625rem;
  font-size: 1rem;
  font-weight: 700;
  transition: all 0.3s ease;
}

.nav-links ul li a:hover {
  color: var(--font-color);
  background-color: var(--banner-background-color);
}

.hamberger-menu {
  display: none;
  font-size: 2rem;
  padding: 0.5rem;
  background-color: var(--banner-background-color);
}

.display-menu {
  max-height: 500px !important;
}

.banner {
  background-color: var(--banner-background-color);
  height: 12.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
}

.banner-container {
  text-align: center;
}

.banner-container h2,
.banner-container p {
  margin-bottom: 0.625rem;
  animation: flash 2s forwards;
}

.banner-container button {
  padding: 0.625rem 1.25rem;
  border: none;
  outline: none;
  border-radius: 1.25rem;
  background-color: var(--header-background-color);
  color: var(--nav-links-color);
  transition: background-color 0.4s ease;
}

.banner-container button:hover {
  cursor: pointer;
  background-color: var(--font-color);
  /* color: var(--header-background-color); */
}

.offer-text {
  background-color: var(--body-background-color);
  margin-top: 0.5rem;
  border-radius: 20px;
  text-align: center;
  animation: blink 1.2s ease-in-out infinite;
}

.container {
  width: 90%;
  max-width: 75rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 1.25rem;
}

.container h2 {
  margin-bottom: 1.25rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
}

.category,
.product {
  background-color: var(--banner-background-color);
  text-align: center;
  padding: 0.625rem;
  border-radius: 0.5rem;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}
.category:hover,
.product:hover {
  transform: scale(1.05);
}
.category img,
.product img {
  width: 100%;
  border-radius: 0.5rem;
  animation: fadeIn 0.5s ease-out forwards;
}

.customer-testimonials {
  background-color: var(--header-background-color);
  color: var(--font-color);
  text-align: center;
  padding: 1.875rem;
  margin-top: 1.25rem;
}

.testimonial {
  background-color: var(--banner-background-color);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
}

.testimonial p {
  font-size: 1rem;
  font-style: italic;
}

.testimonial h3 {
  font-size: 0.9rem;
  margin-top: 1rem;
}

.footer {
  background-color: var(--header-background-color);
  color: var(--font-color);
  font-weight: 700;
  text-align: center;
  padding: 1rem 0;
}
.footer p {
  margin: 0;
}

.toggle-button {
  width: 3.75rem;
  height: 2.188rem;
  border: none;
  border-radius: 0.313rem;
  outline: none;
  padding: 0px;
  font-size: 2rem;
  margin-top: -0.313rem;
  background-color: var(--banner-background-color);
}

.toggle-button:hover {
  cursor: pointer;
}

.toggle-button i {
  color: var(--nav-links-color);
}
.products-comparision {
  overflow: auto;
}
.products-comparision-container {
  padding: 2rem;
  text-align: center;
}

.products-comparision-container h2 {
  margin-bottom: 1rem;
}
#products-comparision-table {
  width: 100%;
  margin: 0 auto;
  background-color: var(--banner-background-color);
}

.products-comparision-container table,
th,
td {
  border: 1px solid var(--font-color);
  border-collapse: collapse;
  text-align: center;
  padding: 0 1rem;
}

.products-comparision-container thead {
  background-color: var(--header-background-color);
}
.products-comparision-container tr td {
  padding: 0.5rem;
}

.products-comparision-table tbody {
  font-size: 0.8rem;
}

/* Animations */

@keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 980px) and (min-width: 769px) {
  header {
    position: relative;
  }

  .hamberger-menu {
    display: block;
  }

  .nav-links ul {
    list-style: none;
    display: inline;
    position: absolute;
    left: 0%;
    top: 100%;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background-color: var(--header-background-color);
    z-index: 10;
    transition: max-height 0.3s ease;
  }

  .nav-links ul li {
    padding: 0.5rem;
    text-align: center;
  }
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  header {
    position: relative;
  }

  .hamberger-menu {
    display: block;
  }

  .nav-links ul {
    list-style: none;
    display: inline;
    position: absolute;
    left: 0%;
    top: 100%;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background-color: var(--header-background-color);
    z-index: 10;
    transition: max-height 0.3s ease;
  }

  .nav-links ul li {
    padding: 0.5rem;
    text-align: center;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  header {
    position: relative;
  }

  .hamberger-menu {
    display: block;
  }

  .nav-links ul {
    list-style: none;
    display: inline;
    position: absolute;
    left: 0%;
    top: 100%;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background-color: var(--header-background-color);
    z-index: 10;
    transition: max-height 0.3s ease;
  }

  .nav-links ul li {
    padding: 0.5rem;
    text-align: center;
  }

  .footer p {
    font-size: 0.9rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}
