* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-background-color: #cfd4df;
  --header-background-color: #556ab8;
  --nav-links-color: #ede8f5;
  --banner-background-color: #9fadd3;
  --font-color: #0a1544;
}

body {
  font-family: "Poppins", serif;
  background-color: var(--body-background-color);
  color: var(--font-color);
}

header {
  background-color: var(--header-background-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.logo-container {
  margin-left: 20px;
}

.nav-links ul {
  list-style: none;
  display: flex;
}

.nav-links ul li {
  padding: 20px;
}

.nav-links ul li a {
  text-decoration: none;
  color: var(--nav-links-color);
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: 700;
  transition: all 0.3s ease;
}

.nav-links ul li a:hover {
  color: var(--font-color);
  background-color: var(--banner-background-color);
}

.banner {
  background-color: var(--banner-background-color);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
}

.banner-container {
  text-align: center;
}

.banner-container h2,
.banner-container p {
  margin-bottom: 10px;
}

.banner-container button {
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: var(--header-background-color);
  color: var(--nav-links-color);
  transition: background-color 0.4s ease;
}

.banner-container button:hover {
  cursor: pointer;
  background-color: var(--font-color);
  /* color: var(--header-background-color); */
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

.container h2 {
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.category,
.product {
  background-color: var(--banner-background-color);
  text-align: center;
  padding: 10px;
  border-radius: 8px;
}

.category img,
.product img {
  width: 100%;
  border-radius: 8px;
}

.customer-testimonials {
  background-color: var(--header-background-color);
  color: var(--font-color);
  text-align: center;
  padding: 30px;
  margin-top: 20px;
}

.testimonial {
  background-color: var(--banner-background-color);
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 0.9em;
}

.testimonial p {
  font-size: 1em;
  font-style: italic;
}

.testimonial h3 {
  font-size: 0.9em;
  margin-top: 1em;
}

.footer {
  background-color: var(--header-background-color);
  color: var(--font-color);
  font-weight: 700;
  text-align: center;
  padding: 1em 0;
}
.footer p {
  margin: 0;
}
